
services:
  redis:
    image: redis:latest
    container_name: redis_cache
    command: redis-server --requirepass ${REDIS_PASSWORD} --loglevel warning
    environment:
      - REDIS_PASSWORD=${REDIS_PASSWORD}
    restart: always
    expose:
      - "6379"

  db:
    image: postgres:13
    stop_grace_period: 30s
    container_name: postgres_db
    environment:
      PGDATA: /var/lib/postgresql/data
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./pg_hba.conf:/etc/postgresql/pg_hba.conf
    expose:
      - "5432"
    restart: unless-stopped

  telegram_bot:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: telegram_bot
    env_file:
      - .env
    depends_on:
      - db
      - redis  
    volumes:
      - .:/app
    # restart: unless-stopped     

volumes:
  postgres_data:
